<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>jsp</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>code_project.Servlet.LoginProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationProcess</servlet-name>
        <servlet-class>code_project.Servlet.RegistrationProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationProcess</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutProcess</servlet-name>
        <servlet-class>code_project.Servlet.LogoutProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutProcess</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BlogProcess</servlet-name>
        <servlet-class>code_project.Servlet.BlogProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogProcess</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordProcess</servlet-name>
        <servlet-class>code_project.Servlet.ChangePasswordProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordProcess</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ChangeArticleProcess</servlet-name>
        <servlet-class>code_project.Servlet.ChangeArticleProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeArticleProcess</servlet-name>
        <url-pattern>/ChangeArticle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Article</servlet-name>
        <servlet-class>code_project.Servlet.Article</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/Article</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>code_project.Servlet.UserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>code_project.Servlet.ChangeUserProfileProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/ChangeProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeIcon</servlet-name>
        <servlet-class>code_project.Servlet.ChangeIcon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeIcon</servlet-name>
        <url-pattern>/ChangeIcon</url-pattern>
    </servlet-mapping>



</web-app>