@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: linear-gradient(#565D6B, #7BAABE);
}


#container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#subContainer {
    display: table-cell;
    vertical-align: middle;
}

.segment {
    width: 320px !important;
    margin: 0 auto !important;
}