@import url('https://fonts.googleapis.com/css?family=Raleway:500i,600');


.full{
    background-color: #466675;
}

.ui.text.container {
    margin-top: 300px;
}
h2,a{
    font-family: 'Raleway', sans-serif;
}
h2{
    color: aliceblue;
}

h1.ui.inverted.header {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.twoButtons {
    margin-top: 80px;
}










