
.ui.vertical.center.aligned.segment {
    border: none;
    background-color: white;
}



.ui.icon.menu {
    border: none;
    box-shadow: none;
}

.ui.icon.menu {
    max-height: 40px;
}

i.iconClass {
    font-size: 35px;
}

