/*fixed background image's height*/
.ui.image.backGround {
    overflow: hidden;
    max-height: 270px;
}

/*change position of icon image*/
.ui.small.image.iconImage {
    position: absolute;
    left: 40%;
    bottom: 20%;
    border: 5px solid white;
    border-radius: 3px;
}

/*display the user icon*/
.ui.basic.segment {
    display: inline-block;
    vertical-align: top;
}

/*delete other animation for buttons*/
.ui.button{
    transition: none !important;
}

/*delete menu's border and boxshadow*/
.four.item.menu{
    border: none;
    box-shadow: none;
}
/*change card width to fit container*/
.ui.cards > .card, .ui.card{
    width: auto;
}

/*position in card*/
.content {
    text-align: center;
}

