body.pushable > .pusher {
     background: silver;
}

.ui.menu{
    background-color: transparent;
}

.ui.inverted.button {
 box-shadow: none !important;
}

.toc.item { /*invisible sidebar icon*/
    display: none;
}

img.teamIcon {
    height: 30px;
    margin-top: 10px;
    margin-left: 800px;
}

.ui.vertical.masthead.center.aligned {
    border-bottom: solid 2px gainsboro;
    height: 50px;
}

img.sideBarIcon {
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

a.toc.item {
    display: none !important;
}

.ui.search{
    display: none !important;
}

/*Side Bar Color*/
.ui.sidebar.vertical.menu.left.uncover.visible {
    background-color: #6FC5D3;
}

@media only screen and (max-width: 700px) {

    a.item{
        display: none !important;
    }

    a.toc.item {
        display: block !important;
    }

    .ui.search{
        display: block !important;
    }
 

}
